<html>
<head>
    <title>Isophonic React</title>
</head>
<body>
    <div id="root"><%- content%></div>
    <script id="initial-data" type="application/json">
      <%- reactInitialData %>
    </script>
    <script type="text/javascript" src="http://localhost:8080/bundle.js"></script>
</body>
</html>